EXPO_PUBLIC_SUPABASE_URL=your_supabase_url_here
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# Agora Video Calling
# Get your App ID from: https://console.agora.io/
EXPO_PUBLIC_AGORA_APP_ID=your_agora_app_id_here
